# .gitconfig

[color]
	ui = auto

[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold

[color "status"]
	added = green bold
	changed = red bold
	untracked = red bold

[core]
	whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
	excludesfile = ~/.gitignore-global

[include]
	path = .gitconfig-local

[diff]
	tool = vimdiff

[merge]
	tool = vimdiff

[mergetool "meld"]
	# Choose one of these 2 lines.
	#cmd = meld "$LOCAL" "$MERGED" "$REMOTE" --output "$MERGED"
	cmd = meld "$LOCAL" "$BASE" "$REMOTE" --output "$MERGED"

[push]
#	default = simple

[alias]
	lg = log --decorate --graph --oneline
	cl = clean -fdx -e .svn

[credential]
	helper = cache

[svn]
	pushmergeinfo = true

# vim:set ft=gitconfig:
