!! .Xresources

!BLK Cursor
#define _color0                         #000000
#define _color8                         #545454
!RED Tag
#define _color1                         #a80000
#define _color9                         #fc5454
!GRN SpecialKey
#define _color2                         #00a800
#define _color10                        #54fc54
!YEL Keyword
#define _color3                         #a85400
#define _color11                        #fcfc54
!BLU Number
#define _color4                         #0000a8
#define _color12                        #5454fc
!MAG Precondit
#define _color5                         #a800a8
#define _color13                        #fc54fc
!CYN Float
#define _color6                         #00a8a8
#define _color14                        #54fcfc
!WHT Search
#define _color7                         #a8a8a8
#define _color15                        #fcfcfc
!FMT Include, StatusLine, ErrorMsg
#define _colorBD                        #ffffff
#define _colorUL                        #ccdc90
#define _colorIT                        #80d4aa
!TXT Normal, Normal, Cursor
#define _foreground                     #cccccc
#define _background                     #0f0f0f
#define _cursorColor                    #8faf9f

!! urxvt
urxvt*cutchars:                         "()*,<>[]{}|'':$#="
urxvt*fading:                           25
urxvt*insecure:                         false
urxvt*iso14755_52:                      false
urxvt*iso14755:                         false
urxvt*loginShell:                       true
urxvt*saveLines:                        2048
urxvt*scrollBar:                        false
urxvt*scrollTtyKeypress:                true
urxvt*scrollTtyOutput:                  false
urxvt*tripleclickwords:                 false
urxvt*urgentOnBell:                     true

urxvt*color0:                           _color0
urxvt*color1:                           _color1
urxvt*color2:                           _color2
urxvt*color3:                           _color3
urxvt*color4:                           _color4
urxvt*color5:                           _color5
urxvt*color6:                           _color6
urxvt*color7:                           _color7
urxvt*color8:                           _color8
urxvt*color9:                           _color9
urxvt*color10:                          _color10
urxvt*color11:                          _color11
urxvt*color12:                          _color12
urxvt*color13:                          _color13
urxvt*color14:                          _color14
urxvt*color15:                          _color15
urxvt*colorBD:                          _colorBD
urxvt*colorIT:                          _colorIT
urxvt*colorUL:                          _colorUL
urxvt*foreground:                       _foreground
urxvt*background:                       _background
urxvt*cursorColor:                      _cursorColor

!! xterm
xterm*bellIsUrgent:                     true
!xterm*boldColors:                       true
!xterm*boldMode:                         false
xterm*charClass:                        33:48,37:48,45-47:48,64:48
xterm*cutToBeginningOfLine:             false
xterm*loginShell:                       true
xterm*printAttributes:                  2
xterm*saveLines:                        2048
xterm*scrollBar:                        false
xterm*scrollKey:                        true
xterm*scrollTtyOutput:                  false
xterm*zIconBeep:                        50

xterm*color0:                           _color0
xterm*color1:                           _color1
xterm*color2:                           _color2
xterm*color3:                           _color3
xterm*color4:                           _color4
xterm*color5:                           _color5
xterm*color6:                           _color6
xterm*color7:                           _color7
xterm*color8:                           _color8
xterm*color9:                           _color9
xterm*color10:                          _color10
xterm*color11:                          _color11
xterm*color12:                          _color12
xterm*color13:                          _color13
xterm*color14:                          _color14
xterm*color15:                          _color15
xterm*colorBD:                          _colorBD
xterm*colorIT:                          _colorIT
xterm*colorUL:                          _colorUL
xterm*foreground:                       _foreground
xterm*background:                       _background
xterm*cursorColor:                      _cursorColor

Xft.dpi:                                96

!! vim:set ft=xdefaults:
!! vi:set et:
